@model LoanMVC.Models.LoanApplicantType

@{
    ViewBag.Title = "ProcessApplicants";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ProcessApplicants</h2>

<div>
 
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ApplicantId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicantId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Salary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeOfLoan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeOfLoan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusOfLoan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusOfLoan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "CheckLoanApplicants", "Employee")
</p>
